.container {
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.board {
  display: grid;
  gap: 2px;
  width: 80vmin;
  height: 80vmin;
  background: lightblue;
  grid-template-columns: repeat(50, 1fr [col-start]);
}
