.container {
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.board {
  display: grid;
  gap: 1px;
  width: 80vmin;
  height: 80vmin;
  background: white;
  border: 1px solid black;
  grid-template-columns: repeat(var(--board-size), 1fr [col-start]);
}
